* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}
/* utility */
.clearfix{
  content: "";
  display: table;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.color-white {
  color:white;
}
.align-center {
  text-align: center;
}
.ul {
  list-style: none;
}
.a {
  text-decoration: none;
}
/* //utility  */
#wrapper{
  height: 100vh;
  width: 100vw;
}
/* SIDEBAR */
.sidebar{
  width: 14%;
  background-color: #000;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 135px;
}
.img-logo {
  margin: 15px;
}
.img-logo > img{
  height: 30px;
  width: auto;
}
#sidebar-menu{
  padding-left: 15px;
}
#sidebar-menu > .sidebar-li-menu {
  font-size: 10px;
  display: flex;
  line-height: 25px;
  font-weight: lighter;
}
#sidebar-menu > .sidebar-li-menu > img {
  height: 19px;
  width: auto;
}
#sidebar-menu > .sidebar-li-menu > a {
  text-decoration: none;
  vertical-align: middle;
  margin-left: 10px;
  color: grey;
}
#playlist-title {
  font-size: 13px;
  color: grey;
  margin: 9px 10px;
}
.container-add {
  display: flex;
  margin-left: 15px;
}
#add{
  background-color: #000;
  margin: 0;
  border: none;
  font-size: 30px;
}
#add > a {
  color: white;
}
#creaplaylist {
  color: lightgray;
  display: inline-block;
  font-size: 10px;
  line-height: 45px;
  margin: 0 15px;
}
#playlist-list{
  margin-left: 15px;
  height: 50%;
  max-height: 200px;
  overflow-y: auto;
}
.playlist-list-li{
  margin: 7px 0;
  font-size: 10px;
}
.playlist-list-li > a {
  color: #3f4249;
}
.container-download{
  width: 80%;
  border-bottom: 1px solid white;
  margin: 0 15px;
  display: flex;
  padding-bottom: 10px;
}
.container-download > img{
  width: 15px;
  height: auto;
}
#installaapp{
  font-size: 10px;
  color: grey;
  margin-left: 5px;
  line-height: 13px;
}
.container-user {
  width: 80%;
  margin: 0 15px;
  display: flex;
  margin-top: 10px;
}
.container-user > img {
  width: 20px;
}
#user-name{
  font-size: 13px;
  margin-left: 15px;
  line-height: 25px;
  font-weight: bold;
}
/* FINE SIDEBAR */
/* UPGRADE-BAR */
.upgrade-bar{
  width: 86%;
  height: 65px;
  background-color: #080b12;
}
.upgrade-button{
  border-radius: 15px 15px;
  border: 1px solid white;
  padding: 10px;
  background-color: #080b12;
  color: white;
  margin: calc((65px - 40px) / 2) 0;
}
/* FINE UPGRADE-BAR */
/* MAIN  */
    /* NAVBAR */
nav {
  width: 100%;
}
.nav-ul{
  padding: 15px;
  width: 60%;
  margin: auto;
  text-align: center;
}
.nav-li {
  display: inline-block;
  margin: 0 10px;
}
.nav-li > a {
  color:lightgray;
  font-size: 10px;
}
    /* FINE NAVBAR */
.main {
  width: 86%;
  height: calc(100vh - 140px);
  background-color: #141922;
  padding-left: 15px;
  overflow-y: scroll;
}
.title-main{
 margin-bottom: 15px;
 font-size: 20px;
}
.container-content {
  display: block;
  width: 100%;
  background-color: red;
}
.box {
  width: 16%;
  height: auto;
  padding: 0 15px;
}
.box > img {
  width: 100%;
  height: auto;
}
.title-content{
  font-size: 11px;
  text-align: center;
  margin: 5px 0;
}
.subtitle{
  text-align: center;
  font-size: 9px;
}
.subtitle, .subtitle2 {
  color: gray;
  font-size: 10px;
}
.second{
  width: 100%;
  height: auto;
}
.boxuno {
  width: 15%;
  margin: 15px;
}
.boxuno > img {
  width: 100%;
  height: 100%;
}
.third .boxuno img {
  border-radius: 50% 50%;
}
/* FINE MAIN */
footer {
  height: 75px;
  width: 100%;
  background-color: #282828;
}

@media screen and (max-width: 992px) {
  .sidebar-md {
    width: 20%;
  }
  .upgrade-bar-md{
    width: 80%;
  }
  .main-md {
    width:80%;
  }
  .box-md {
    width: 22%;
  }

}
