* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* utility */
.clearfix{
  content: "";
  display: table;
  clear: both;
}
.fl {
  float: left;
}
.color-white {
  color:white;
}
.align-center {
  text-align: center;
}
/* //utility  */
.wrapper{
  height: 100vh;
  width: 100vw;
}
.sidebar{
  width: 15%;
  height: 700px;
  background-color: #000;
}
.img-logo {
  margin-top: 15px;
  min-width: 150px;
}
.img-logo > img{
  height: 37px;
  width: auto;
}
#sidebar-menu{
  list-style: none;
  padding-left: 15px;
  padding-top: 25px;
}
#sidebar-menu > .sidebar-li-menu {
  margin: 7px 0;
  font-size: 16px;
}
#sidebar-menu > .sidebar-li-menu > img {
  height: 23px;
  width: auto;
}
#sidebar-menu > .sidebar-li-menu > a {
  text-decoration: none;
  vertical-align: middle;
  margin-left: 7px;
}
#playlist-title {
  margin: 20px 15px;
}
.upgrade-bar{
  width: 85%;
  height: 65px;
  background-color: #080b12;
}
.main {
  width: 85%;
  height: 700px;
  overflow-y: auto;
  background-color: #141922;
}
